In [38]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ponds_data = pd.read_csv('data/Ponds1.csv')
print(ponds_data)

        station        Date      Time NITRATE(PPM)       PH  AMMONIA(mg/l)  \
0      station1  01-02-2022  08:00:00         18.3      5.7       0.010000
1      station1  01-02-2022  08:20:00          3.6      5.1       0.094000
2      station1  01-02-2022  08:40:00         13.1      5.5       0.060000
3      station1  01-02-2022  09:00:00         18.1      5.2       0.018000
4      station1  01-02-2022  09:20:00         10.8      5.2       0.038000
...         ...         ...       ...          ...      ...            ...
74791  Station3  21-01-2023  02:20:00      38.5406  6.75828       0.119381
74792  Station3  21-01-2023  02:40:00     42.11005  6.20163       0.077154
74793  Station3  21-01-2023  03:00:00    125.15904  5.93544       0.085624
74794  Station3  21-01-2023  03:20:00     73.33587  5.86073       0.051679
74795  Station3  21-01-2023  03:40:00     121.1991  6.98552       0.088332

           TEMP        DO  TURBIDITY MANGANESE(mg/l)
0      23.20000      11.6   31.70000            0.71
1      23.41000      10.5   18.80000            0.62
2      23.63000      10.3   23.20000            0.73
3      23.64000       9.4   26.70000            0.64
4      23.81000       8.8   19.50000            0.68
...         ...       ...        ...             ...
74791  15.56445   6.44569   18.46460        2.852199
74792  15.97011   4.40405   30.36674        1.330371
74793  41.57173   6.66831   27.49781        0.947028
74794  22.82301  23.33198   49.63579        2.003739
74795  26.07878  11.96416   57.68867         2.47168

[74796 rows x 10 columns]

C:\Users\kimva\AppData\Local\Temp\ipykernel_14980\893771957.py:6: DtypeWarning: Columns (3,4,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ponds_data = pd.read_csv('data/Ponds1.csv')

In [42]:
ponds_data = pd.DataFrame(ponds_data)
column_list = list(ponds_data.columns)
column_list

['station',
 'Date',
 'Time',
 'NITRATE(PPM)',
 'PH',
 'AMMONIA(mg/l)',
 'TEMP',
 'DO',
 'TURBIDITY',
 'MANGANESE(mg/l)']

In [43]:
ponds_data

,station,Date,Time,NITRATE(PPM),PH,AMMONIA(mg/l),TEMP,DO,TURBIDITY,MANGANESE(mg/l)
0,station1,01-02-2022,08:00:00,18.3,5.7,0.010000,23.20000,11.6,31.70000,0.71
1,station1,01-02-2022,08:20:00,3.6,5.1,0.094000,23.41000,10.5,18.80000,0.62
2,station1,01-02-2022,08:40:00,13.1,5.5,0.060000,23.63000,10.3,23.20000,0.73
3,station1,01-02-2022,09:00:00,18.1,5.2,0.018000,23.64000,9.4,26.70000,0.64
4,station1,01-02-2022,09:20:00,10.8,5.2,0.038000,23.81000,8.8,19.50000,0.68
...,...,...,...,...,...,...,...,...,...,...
74791,Station3,21-01-2023,02:20:00,38.5406,6.75828,0.119381,15.56445,6.44569,18.46460,2.852199
74792,Station3,21-01-2023,02:40:00,42.11005,6.20163,0.077154,15.97011,4.40405,30.36674,1.330371
74793,Station3,21-01-2023,03:00:00,125.15904,5.93544,0.085624,41.57173,6.66831,27.49781,0.947028
74794,Station3,21-01-2023,03:20:00,73.33587,5.86073,0.051679,22.82301,23.33198,49.63579,2.003739
74795,Station3,21-01-2023,03:40:00,121.1991,6.98552,0.088332,26.07878,11.96416,57.68867,2.47168

In [44]:
ponds_data.isna().sum()

station             0
Date                0
Time               51
NITRATE(PPM)        2
PH                  1
AMMONIA(mg/l)       0
TEMP                6
DO                  6
TURBIDITY           0
MANGANESE(mg/l)    21
dtype: int64

In [49]:
# removed NA values
ponds_data = ponds_data.dropna(subset = ['Time'])
ponds_data = ponds_data.dropna(subset = ['NITRATE(PPM)'])
ponds_data = ponds_data.dropna(subset = ['PH'])
ponds_data = ponds_data.dropna(subset = ['TEMP'])
ponds_data = ponds_data.dropna(subset = ['DO'])
ponds_data = ponds_data.dropna(subset = ['MANGANESE(mg/l)'])

In [50]:
ponds_data.isna().sum()

station            0
Date               0
Time               0
NITRATE(PPM)       0
PH                 0
AMMONIA(mg/l)      0
TEMP               0
DO                 0
TURBIDITY          0
MANGANESE(mg/l)    0
dtype: int64

In [ ]:
#for duplicates if useful mn gy
# ponds_data.duplicated('')
# for mean median etc.
# ponds_data.describe()

       AMMONIA(mg/l)          TEMP     TURBIDITY
count   74713.000000  74713.000000  74713.000000
mean        0.096226     27.227452     31.595789
std         0.159942      5.973671     11.634180
min         0.000998      0.000000     10.200000
25%         0.029610     22.922000     22.866000
50%         0.044820     26.820000     30.090000
75%         0.103207     30.430840     37.282300
max         1.872000     45.499500     82.092240

In [15]:

# print(ponds_data.dtypes)
print(ponds_data["PH"].dtype)  # Check data type
print(ponds_data["PH"].unique())  # See unique values

ponds_data["PH"] = pd.to_numeric(ponds_data["PH"], errors="coerce")

float64
[5.7     5.1     5.5     ... 6.20163 5.93544 5.86073]

In [ ]:
# Convert the Date column to datetime format (ignoring Time)
ponds_data["Date"] = pd.to_datetime(ponds_data["Date"], format="%d-%m-%Y")

# Now you can proceed with filtering your data
start_date = ponds_data["Date"].min()
end_date = start_date + pd.Timedelta(weeks=1)  # 1-week span

relevant_data = ponds_data[
    (ponds_data["Date"] >= start_date) & (ponds_data["Date"] < end_date) &  
    (ponds_data["PH"] >= 7.5) & (ponds_data["PH"] <= 8.5) &
    (ponds_data["TEMP"] >= 26) & (ponds_data["TEMP"] <= 30) &
    (ponds_data["TURBIDITY"] >= 30) & (ponds_data["TURBIDITY"] <= 60)
]

print(relevant_data)

        station       Date      Time NITRATE(PPM)      PH  AMMONIA(mg/l)  \
1887   station1 2022-02-27  13:00:00          139  8.4000        0.05500
1890   station1 2022-02-27  14:00:00        137.2  7.8000        0.08100
1895   station1 2022-02-27  15:40:00        106.7  8.3000        0.02300
1960   station1 2022-02-28  13:20:00          131  8.2000        0.00400
1965   station1 2022-02-28  15:00:00        137.3  8.1000        0.00900
...         ...        ...       ...          ...     ...            ...
49171  Station2 2023-01-19  09:40:00      16.2491  7.8170        0.02147
49172  Station2 2023-01-19  10:00:00      19.0758  7.5222        0.02976
49173  Station2 2023-01-19  10:20:00       1.8183  7.6326        0.02708
49204  Station2 2023-01-19  20:40:00       2.7274  8.3577        0.03772
49236  Station2 2023-01-20  07:20:00       18.611  7.7025        0.02885

          TEMP       DO  TURBIDITY MANGANESE(mg/l)
1887   26.7100      2.6    33.4000            2.51
1890   26.9800      0.4    34.1000             1.9
1895   26.5900      1.8    34.0000            1.93
1960   27.4300      2.5    32.8000            1.69
1965   26.8200      0.4    33.9000            1.68
...        ...      ...        ...             ...
49171  26.5753  14.1174    39.0051         0.95093
49172  27.8888  17.8746    39.4088         0.59296
49173  26.0217  15.2483    33.9935         0.92928
49204  29.2145  11.1217    36.8165         0.39645
49236  26.9480  19.8992    35.7381         0.88939

[1167 rows x 10 columns]

In [37]:
start_date = pd.to_datetime("02-01", format="%d-%m")
end_date = pd.to_datetime("02-07", format="%d-%m")
relevant_data2 = ponds_data[
    (ponds_data["Date"] >= start_date) & (ponds_data["Date"] < end_date) 
    # without the IDEAL PH for the week
    # (ponds_data["TEMP"] >= 26) & (ponds_data["TEMP"] <= 30) &
    # (ponds_data["TURBIDITY"] >= 30) & (ponds_data["TURBIDITY"] <= 60)
]
# Sort the data by the Date column in ascending order
relevant_data2 = relevant_data2.sort_values(by="Date")
print(relevant_data2)

Empty DataFrame
Columns: [station, Date, Time, NITRATE(PPM), PH, AMMONIA(mg/l), TEMP, DO, TURBIDITY, MANGANESE(mg/l)]
Index: []